body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 562.5%;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', serif;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  line-height: 2;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 3%;
  margin: 0 auto;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.span {
  text-decoration: underline;
}

.profile {
  padding-bottom: 50px;
}

.ProfilePic {
  margin-top: 50px;
  height: 150px;
  width: 150px;
}

.codingskill1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.fitnessPT {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
  overflow: auto;
}

.contact-me {
  padding-bottom: 80px;
  position: relative;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.getintouch {
  width: 40%;
  margin: 40px auto 60px auto;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #119999);
  background-image: -moz-linear-gradient(top, #11CDD4, #119999);
  background-image: -ms-linear-gradient(top, #11CDD4, #119999);
  background-image: -o-linear-gradient(top, #11CDD4, #119999);
  background-image: -webkit-gradient(to bottom, #11CDD4, #119999);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  border: solid #337FED 1px;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}

.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
  line-height: 1;
  margin: 60px;
}

.footer-link:hover {
  color: #EAF6F6;
}

.createdBY {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding-top: 30px;
}
